@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Solana Wallet Adapter Styles Override */
.wallet-adapter-button {
  background-color: #512da8 !important;
}

.wallet-adapter-button:hover {
  background-color: #7c4dff !important;
}
